 *{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 
 header {
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 40px;
     box-sizing: border-box;  
     border-bottom: 1px solid #e5e5e5;  
 }

.logo {
    width: 100px;  
}

ul {
    display: flex;
    gap: 20px; 
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ff2366;
    color: white;
    cursor: pointer;
    border-radius: 26px;
} 